<footer class="page-footer font-small text-black pt-3 ">

    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-sm-6 mt-3 ">

                <a class="footer-brand" href="#start">
                    <div class="logo ">
                        <h2>  Syllabus</h2>
                    </div>
                </a>
                <p>  Kursy dla kierunku Informatyka</p>

            </div>

            <div class="col-sm-6 text-sm-right ">
<br>
                <div class="footer-copyright text-right mt-5">© 2019 Copyright: pracowniaSyllabusów

                

            </div>
        </div>


    </div>


    </div>


</footer>